<div class="row">
  <div class="col-sm-6">
    <h1>Edit your account</h1>

    <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_for [:admin, @user], role: "form" do |f| %>
  
    <div class="form-group">
      <%= f.label :username %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :email %>
      <div class="row">
        <div class="col-sm-6">    
          <%= f.email_field :email, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update your account", class: "btn btn-primary" %> - <%= link_to "cancel", admin_root_path %>
      </div>
    </div>
  
    <% end %>
  </div>
</div>


