<p>Admin</p>
<div>   
  <p>Menu</p>
  <p><%= link_to "Signed In page", inside_path %></p>
  <p><%= link_to "Users", admin_users_path %> - <%= "#{@count} users" %></p>
  <hr/>
  
</div>
  
<div>
  <p>Last Sign Ups</p>
  <ul>
    <% @last_signups.each do |user| %>
    <li>
       <%= link_to user.email, edit_admin_user_path(user) %><br/>
      <%= time_ago_in_words(user.created_at)%> ago
    </li>
    <% end %>
  </ul>
</div>
  
<div>
  <p>Last Sign Ins</p>
  <ul>
    <% @last_signins.each do |user| %>
    <li>
      <%= link_to user.email, edit_admin_user_path(user) %><br/>
      <% unless user.last_sign_in_at.nil? %>
      <%= time_ago_in_words(user.last_sign_in_at)%> ago
      <% else %>
      never
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
