<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [:admin, @post], role: "form" do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :title, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :content_md, "Content" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_area :content_md, rows: 15, class: "form-control monospaced-control", placeholder: "Post content (Markdown format)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-12">
      <%= f.check_box :draft %> <%= f.label :draft, "draft" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :updated_at, "Published date" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.datetime_select :updated_at, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 padded">
    <button class='btn btn-primary'>
      <i class='fa fa-plus-square'></i> Publish
    </button> - <%= link_to "Cancel", admin_posts_dashboard_path %>
  </div>
</div>

<% end %>
